@page "/"

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Under Construction!</h3>
            <div class="text-center">
                <img src="images\pstarcons.png" width="225" height="150" alt="Home page welcome image">
            </div>
        </div>
    </div>
</div>

@code {
  
}
